github haf/YoLo YoLo.fs

source https://www.nuget.org/api/v2
nuget FAKE
nuget FSharp.Data
nuget NuGet.CommandLine
nuget GitVersion.CommandLine prerelease
nuget GitLink
nuget FSharp.Core 3.1.2.5
nuget Mono.Cecil
nuget Newtonsoft.Json 9.0.1 framework: >= net45
nuget Suave
nuget ApprovalTests 3.0.11 framework: >= net45
nuget System.Reactive
nuget WebSocket4Net
nuget xunit 2.1.0 framework: >= net45
nuget xunit.runner.console
nuget xunit.runner.visualstudio 2.1.0 framework: >= net45
nuget BuildTools.FxCop
nuget StyleCop.MSBuild

group TddStud10
    source http://nuget.org/api/v2
    nuget FSharp.Core 3.1.2.5 framework: >= net45
    source https://ci.appveyor.com/nuget/common-wqs82t184w0x
    nuget TddStud10.Common 
    source https://ci.appveyor.com/nuget/testhost-rrsttutj8jym
    nuget TddStud10.TestHost 
    