source https://www.nuget.org/api/v2

nuget FSharp.Core 4.0.0.1 redirects: force
nuget FSharp.Data
nuget Mono.Cecil
nuget Newtonsoft.Json redirects: force 
nuget Suave
nuget System.Reactive
nuget WebSocket4Net
nuget Akka.FSharp
nuget FsPickler 1.2.21
nuget sqlite-net-pcl

gist parthopdas/b84c913549f9ff1cbcb62d31a4dd3528 FSharpCore41.fs
github xyncro/aether src/Aether/Aether.fs
github xyncro/hekate src/Hekate/Hekate.fs
gist parthopdas/ccd06b223c0ae88ed9164f34cc1f5f06 YaFunTK.fs

group Build
    source "http://nuget.org/api/v2"
    nuget FAKE
    nuget NuGet.CommandLine
    nuget GitVersion.CommandLine prerelease
    nuget GitLink
    nuget FSharpLint

group Test
    source "http://nuget.org/api/v2"
    nuget FSharp.Core 4.0.0.1 redirects: force
    nuget FsCheck.Xunit
    nuget FsUnit.Xunit 1.4.1
    nuget xunit.runner.console
    nuget xunit.runner.visualstudio
    nuget ApprovalTests

group TddStud10
    source "http://nuget.org/api/v2"
    nuget FSharp.Core 4.0.0.1 redirects: force
    source https://ci.appveyor.com/nuget/common-wqs82t184w0x
    nuget TddStud10.Common 
    source https://ci.appveyor.com/nuget/testhost-rrsttutj8jym
    nuget TddStud10.TestHost 
    